@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Exo;
    text-decoration: none;
}

:root {
    --gold: #daa520;
    --lightgold: #ffd700;
    --yellow: #ffff00;
}

body {
    background-color: black;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--gold);
}

.container {
    margin: 0 auto;
    width: 90%;
}

h2 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    text-transform: capitalize;
    padding: 100px 0 50px;
}


/*Nav design*/

.nav {
    background-color: #0008;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    text-transform: capitalize;
    z-index: 1;
    bottom: 0;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    font-weight: 200;
    list-style: none;
    padding: 12px 0;
}

.nav ul a {
    text-align: center;
    padding: 20px auto;
    display: flex;
    flex-direction: column;
    /*gap: 5px;*/
    font-size: 14px;
    transition: color .3s, text-shadow .3s;
}

.nav ul a i {
    padding-bottom: 5px;
}

.nav ul a:hover,
.nav ul a:focus,
.nav ul a i:hover,
.nav ul a i:focus {
    color: var(--lightgold);
    text-shadow: 0px 0px 5px var(--yellow);
}

.nav ul li a i {
    font-size: 20px;
}

.nav ul li:hover {
    color: var(--lightgold);
}

.currentPage {
    color: var(--gold);
    font-weight: 600;
}


/*General button design*/

button {
    padding: 10px;
    background-color: var(--gold);
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    border: none;
    transition: box-shadow .3s, background-color .3s;
}

button:hover, button:focus {
    box-shadow: 0px 0px 10px 0px var(--lightgold);
    background-color: var(--lightgold);
}

/*Hero design*/

.hero {
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 65px;
    text-transform: capitalize;
}

.hero p {
    font-size: 20px;
    padding-top: 50px;
}

.readMoreButton img {
    padding-top: 10px;
    height: 50px;
}

.readMoreButton {
    height: 100px;
    width: 100px;
    margin-top: 100px;
    border-radius: 50%;
    animation-name: BouncingArrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes BouncingArrow {
    0% {
        padding-top: 0;
    }
    50% {
        padding-top: 25px;
    }
    100% {
        padding-top: 0;
    }
}


/*Skills design*/

.skills .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
    position: relative;
}

/*
.skills .images .popup {
    position: absolute;
    background-color: #0008;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 0 1px #fff8;
    text-align: center;
    opacity: 0;
    transition: .3s;
    user-select: none;
}

.skills .images img:hover + .popup {
    opacity: 100%;
}
*/

/* TEMP */
.skills .images .popup {
    display: none;
}
/* TEMP */

.skills .images img {
    height: 120px;
    padding: 20px;
    border-radius: 30px;
}


/*Latest projects design*/

.latest .project .container {
    margin: 0 auto;
}

.latest .project {
    background-color: #4448; /*TEMP*/
    backdrop-filter: blur(10px);
    margin: 30px 2%;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
}

/*Text part design*/

.latest .project .text {
    text-align: justify;
}

.latest .project h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.latest .project .text p {
    font-size: 14px;
}

/*Buttons part design*/

.latest .project .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 10%;
}

.latest .project button {
    border-radius: 15px;
}

.latest .project a {
    display: flex;
    align-items: center;
}

.latest .project button img {
    height: 40px;
}

.latest .project button p {
    margin-left: 10px;
}

/*Images part design*/

.latest .project .images-container {
    margin-bottom: 20px;
}

.latest .project .images-container img {
    width: 100%;
    border-radius: 15px;
}


/*Footer design*/

.footer .container {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 70px;
    text-transform: capitalize;
}


/*Making the website responsive*/

@media screen and (min-width:768px) {
    .nav {
        bottom: auto;
    }

    .nav ul {
        justify-content: center;
        flex-direction: row;
        gap: 40px;
        padding: 0;
    }

    .nav ul li a {
        font-size: 20px;
        padding: 20px 0;
    }

    .nav i {
        display: none;
    }

    .hero {
        padding: 170px 0 100px;
    }

    .hero h1 {
        font-size: 80px;
    }

    .latest .project {
        margin: 30px 10%;
    }

    .latest .project .buttons {
        justify-content: center;
    }

    .footer .container {
        margin-bottom: 0;
    }
}

@media screen and (min-width:1023px) {
    .hero h1 {
        font-size: 100px;
    }

    .latest .project h3 {
        text-align: left;
    }

    .latest .project .content-container {
        display: flex;
        flex-direction: row-reverse;
        gap: 3%;
    }

    .latest .project .text {
        flex-basis: 42%;
    }

    .latest .project .images-container {
        flex-basis: 55%;
    }

    .latest .project .buttons {
        justify-content: space-around;
    }

    .latest .project .images-container {
        margin-bottom: 0;
    }
}

@media screen and (min-width:1280px) {
    .latest {
        margin: 0 auto;
    }

    .latest .project {
        width: 1020px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        width: 920px;
    }
}