@import url('https://fonts.googleapis.com/css2?family=Exo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Exo;
    text-decoration: none;
}

body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: goldenrod;
}

.responsive {
    background-color: goldenrod;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
}

.responsive img {
    height: 50px;
    margin: 0px 20px 0px 10px;
}

/*Navigation*/

nav ul {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

nav ul a {
    padding: 0px 30px;
    transition: color .3s, text-shadow .3s;
}

nav ul a:hover, nav ul a:focus {
    color: gold;
    text-shadow: 0px 0px 5px yellow;
}

.currentPage {
    color: goldenrod;
    font-weight: bold;
}

/*Index design*/

button {
    margin: 10px;
    background-color: goldenrod;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    border: none;
    transition: box-shadow .3s, background-color .3s;
}

button:hover, button:focus {
    box-shadow: 0px 0px 10px 0px gold;
    background-color: gold;
}

.name {
    text-align: center;
    padding: 10%;
}

.name h1 {
    font-size: 100px;
    transition: font-size .3s;
}

.name p {
    font-size: 20px;
    padding-top: 50px;
}

.readMoreButton img {
    padding-top: 10px;
    height: 50px;
}

.readMoreButton {
    height: 100px;
    width: 100px;
    margin-top: 100px;
    border-radius: 50px;
    padding-top: 0px;
    animation-name: BoucingArrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes BoucingArrow {
    0% {
        padding-top: 0px;
    }
    50% {
        padding-top: 25px;
    }
    100% {
        padding-top: 0px;
    }
}

.title {
    text-align: center;
    padding: 100px 0px 50px 0px;
    font-size: 40px;
    text-decoration: underline;
}

.skills {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    user-select: none;
}

.skill {
    margin: 10px;
}

.skillBox {
    height: 200px;
    width: 200px;
    background-color: rgb(50, 50, 50);
    margin: 20px 50px;
    border-radius: 50px;
    display: inline-block;
}

.progress {
    width: 200px;
    background-color: goldenrod;
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0px 0px 10px 0px goldenrod;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    transition: background-color .3s, box-shadow .3s;
}

.progress:hover {
    background-color: gold;
    box-shadow: 0px 0px 10px 0px gold;
}

.progressHTML {
    margin-top: 90px;
    height: 110px;
}

.progressCSS {
    margin-top: 70px;
    height: 130px;
}

.progressJS {
    margin-top: 140px;
    height: 60px;
}

.highlighted {
    width: 1040px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.project {
    display: flex;
    background-color: rgb(30, 30, 30);
    width: 1000px;
    border-radius: 30px;
    margin: 20px;
    margin-bottom: 50px;
}

.pImage img {
    height: 500px;
    padding: 20px 0px 20px 20px;
    border-radius: 50px;
}

.spacer {
    width: 700px;
}

.pDetails {
    padding: 20px;
}

.pDescription h1 {
    text-align: center;
}

.pDescription p {
    width: 400px;
    text-align: justify;
}

.pStats {
    margin: 20px 0px;
    user-select: none;
    width: 100%;
    display: flexbox;
    text-align: center;
    justify-content: center;
}

.statsBar {
    background-color: rgb(50, 50, 50);
    height: 40px;
    width: 400px;
    border-radius: 12px;
    display: flex;
}

.statsHTML {
    background-color: rgb(172, 46, 0);
    border-radius: 12px 0px 0px 12px;
    box-shadow: 0px 0px 10px 0px rgb(172, 46, 0);
    transition: background-color .3s, box-shadow .3s;
}

.statsHTML:hover {
    background-color: rgb(226, 60, 0);
    box-shadow: 0px 0px 10px 0px rgb(226, 60, 0);
}

.sp1html {
    height: 40px;
    width: 59px;
}

.sp2html {
    width: 374px;
}

.statsCSS {
    background-color: rgb(0, 122, 170);
    border-radius: 0px;
    box-shadow: 0px 0px 10px 0px rgb(0, 122, 170);
    transition: background-color .3s, box-shadow .3s;
}

.statsCSS:hover {
    background-color: rgb(0, 162, 226);
    box-shadow: 0px 0px 10px 0px rgb(0, 162, 226);
}

.sp1css {
    height: 40px;
    width: 99px;
}

.sp2css {
    width: 26px;
    border-radius: 0px 12px 12px 0px;
}

.statsJS {
    background-color: rgb(184, 156, 0);
    border-radius: 0px 12px 12px 0px;
    box-shadow: 0px 0px 10px 0px rgb(184, 156, 0);
    transition: background-color .3s, box-shadow .3s;
}

.statsJS:hover {
    background-color: rgb(231, 197, 0);
    box-shadow: 0px 0px 10px 0px rgb(231, 197, 0);
}

.sp1js {
    height: 40px;
    width: 242px;
}

.pStatsLabels {
    display: flex;
}

.sHTMLc {
    height: 20px;
    width: 20px;
    background-color: rgb(172, 46, 0);
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 80px;
}

.sCSSc {
    height: 20px;
    width: 20px;
    background-color: rgb(0, 122, 170);
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 68px;
}

.sJSc {
    height: 20px;
    width: 20px;
    background-color: rgb(184, 156, 0);
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 50px;
}

.pStats h4 {
    margin: 0;
    margin-left: 30px;
}

.pLinks {
    margin-top: 50px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.pLinks button {
    height: 80px;
    width: 80px;
    border-radius: 30px;
}

.pLinks img {
    height: 50px;
    width: 50px;
}

.VAP {
    padding: 25px;
    font-size: 26px;
    border-radius: 30px;
}