@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Exo;
    text-decoration: none;
}

:root {
    --gold: #daa520;
    --lightgold: #ffd700;
    --yellow: #ffff00;
}

body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--gold);
}

.container {
    margin: 0 auto;
    width: 1000px;
}

/*Navigation*/

.nav {
    background-color: #0008;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    text-transform: capitalize;
    z-index: 1;
}

.nav ul {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 200;
    list-style: none;
}

.nav ul li {
    padding: 0 30px;
}

.nav ul a {
    transition: color .3s, text-shadow .3s;
}

.nav ul a:hover, nav ul a:focus {
    color: var(--lightgold);
    text-shadow: 0px 0px 5px var(--yellow);
}

.currentPage {
    color: var(--gold);
    font-weight: 600;
}

/*General button design*/

button {
    padding: 10px;
    background-color: var(--gold);
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    border: none;
    transition: box-shadow .3s, background-color .3s;
}

button:hover, button:focus {
    box-shadow: 0px 0px 10px 0px var(--lightgold);
    background-color: var(--lightgold);
}

/*Hero design*/

.hero {
    padding: 200px 0 100px;
    text-align: center;
}

.hero h1 {
    font-size: 100px;
    text-transform: capitalize;
}

.hero p {
    font-size: 20px;
    padding-top: 50px;
}

.readMoreButton img {
    padding-top: 10px;
    height: 50px;
}

.readMoreButton {
    height: 100px;
    width: 100px;
    margin-top: 100px;
    border-radius: 50px;
    padding-top: 0px;
    animation-name: BouncingArrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes BouncingArrow {
    0% {
        padding-top: 0;
    }
    50% {
        padding-top: 25px;
    }
    100% {
        padding-top: 0;
    }
}

h2 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    text-transform: capitalize;
    padding: 100px 0;
}

/*Skills design*/

.skills .container {
    padding: 50px 0;
}

.skills .images {
    display: flex;
    justify-content: center;
    padding: 30px 0 100px;
    user-select: none;
}

.skills .images .popup {
    position: absolute;
    background-color: #0008;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 0 1px #fff8;
    text-align: center;
    opacity: 0;
    transition: .3s;
    user-select: none;
    margin-top: 150px;
}

.skills .images img:hover + .popup {
    opacity: 100%;
}

#html {
    margin-right: 300px;
}

#js {
    margin-right: -285px;
}

.skills .images img {
    height: 120px;
    padding: 20px;
    border-radius: 30px;
}

/*Latest projects design*/

.latest .project {
    background-color: rgba(66, 66, 66, 0.533);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    margin: 30px 0;
}

.latest .project .text {
    flex-basis: 400px;
    text-align: justify;
    margin-right: 30px;
}

.latest .project .text h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.latest .project .text p {
    font-size: 14px;
}

.latest .project .text .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.latest .project .text button {
    border-radius: 15px;
}

.latest .project .text a {
    display: flex;
    align-items: center;
}

.latest .project .text button img {
    height: 40px;
}

.latest .project .text button p {
    padding: 0 0 0 10px;
}

.latest .project .image {
    flex-basis: 60%;
}

.latest .project .image img {
    width: 100%;
    border-radius: 15px;
}

/*Footer design*/

.footer .container {
    text-align: center;
    padding: 20px 0;
    text-transform: capitalize;
}